:root {
  --orange-lcm: #E69D3D;
  --bleu-lcm: #003aa8;
}

.tabs .indicator {
  background-color: purple;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background: transparent;
}

.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.asterisk {
  font-style: italic;
}

.formTitle {
  text-align: center;
}

.btn.title {
  background-color : white;
  color: black;
  width: 90%;
}
